malam ini belajar tipe data list. List adalah tipe data yang menampung multi atau banyak data dengan tipe data yang beragam (bisa semuanya itu float, bisa semuanya itu int, bisa perpaduan antara float dengan int, dan sebagainya). Untuk mengakses nilai dalam list, gunakan index. Dimana index dimulai dari 0.

In [1]:
b = [23, False, 'Emprit']
b[2]

'Emprit'

In [2]:
for value in b:
    print(value)

23
False
Emprit

mengambil nilai list dari index tertentu. info: index dimulai dari 0

In [1]:
z = [20, 'Cinguri', 29.5, True]
print(z[3])
print(z[0])

True
20

untuk mengganti dalam list, bisa dengan melakukan assignment ke index suatu list

In [3]:
z[0] = 100
z

[100, 'Cinguri', 29.5, True]

proses menambahkan data di list, bisa menggunakan append (data akan ditaruh dalam posisi belakang), atau insert (membutuhkan parameter yang pertama adalah index dimana data akan di insert, parameter ke 2 merupakan data yang akan di insert)

In [8]:
z = [100, 'Cinguri', 29.5, True]
print(z)
z.insert(0, 'Moses')
print(z)
z.insert(1, 'Samuel')
z

[100, 'Cinguri', 29.5, True]
['Moses', 100, 'Cinguri', 29.5, True]

['Moses', 'Samuel', 100, 'Cinguri', 29.5, True]

fungsi pop adalah untuk mengambil suatu data dari list, pop ada yang menggunakan parameter dan ada yang tidak menggunakan parameter, yang tidak menggunakan parameter: maka akan diambil data terakhir, yang menggunakan parameter : maka akan diambil data yang diiinginkan

In [14]:
z = [100, 'Cinguri', 29.5, True]
z.pop()
print(z)
z.pop(1)
print(z)

[100, 'Cinguri', 29.5]
[100, 29.5]

remove list itu hanya menghapus 1 data yang ada di list, berikut ini, kita buatkan fungsi remove_all dengan parameter pertama adalah list dan parameter ke 2 adalah data yang akan dihapus

In [1]:
def remove_all(list, value):
    total_data = list.count(value)
    print("jumlah ", value, " adalah ", total_data)
    while total_data > 0:
        list.remove(value)
        print(list)
        total_data = total_data - 1
    return list

a = [4, 4, 5, 6, 7, 9, 4, 4]

remove_all(a, 4)

jumlah  4  adalah  4
[4, 5, 6, 7, 9, 4, 4]
[5, 6, 7, 9, 4, 4]
[5, 6, 7, 9, 4]
[5, 6, 7, 9]

[5, 6, 7, 9]

In [3]:
def remove_all(data, value):
    total_data = data.count(value)
    print("jumlah ", value, " adalah ", total_data)
    while total_data > 0:
        data.remove(value)
        print("isi list saat ini adalah ", data)
        total_data = total_data - 1
        print('total data saat ini adalah', total_data)
    return data

# a = [4, 4, 5, 6, 7, 9, 4, 4]

# remove_all(a, 4)

x = [2, 4, 3, 5, 7, 2, 2, 3]
remove_all(x, 2)

jumlah  2  adalah  3
isi list saat ini adalah  [4, 3, 5, 7, 2, 2, 3]
total data saat ini adalah 2
isi list saat ini adalah  [4, 3, 5, 7, 2, 3]
total data saat ini adalah 1
isi list saat ini adalah  [4, 3, 5, 7, 3]
total data saat ini adalah 0

[4, 3, 5, 7, 3]