malam ini belajar tipe data list. List adalah tipe data yang menampung multi atau banyak data dengan tipe data yang beragam (bisa semuanya itu float, bisa semuanya itu int, bisa perpaduan antara float dengan int, dan sebagainya). Untuk mengakses nilai dalam list, gunakan index. Dimana index dimulai dari 0.

In [1]:
b = [23, False, 'Emprit']
b[2]

'Emprit'

In [2]:
for value in b:
    print(value)

23
False
Emprit

mengambil nilai list dari index tertentu. Info: index dimulai dari 0

In [1]:
z = [20, 'Cinguri', 29.5, True]
print(z[3])
print(z[0])

True
20

untuk mengganti dalam list, bisa dengan melakukan assignment ke index suatu list

In [3]:
z[0] = 100
z

[100, 'Cinguri', 29.5, True]

proses menambahkan data di list, bisa menggunakan append (data akan ditaruh dalam posisi belakang), atau insert (membutuhkan parameter yang pertama adalah index dimana data akan di insert, parameter ke 2 merupakan data yang akan di insert)

In [8]:
z = [100, 'Cinguri', 29.5, True]
print(z)
z.insert(0, 'Moses')
print(z)
z.insert(1, 'Samuel')
z

[100, 'Cinguri', 29.5, True]
['Moses', 100, 'Cinguri', 29.5, True]

['Moses', 'Samuel', 100, 'Cinguri', 29.5, True]

fungsi pop adalah untuk mengambil suatu data dari list, pop ada yang menggunakan parameter dan ada yang tidak menggunakan parameter, yang tidak menggunakan parameter: maka akan diambil data terakhir, yang menggunakan parameter : maka akan diambil data yang diiinginkan

In [14]:
z = [100, 'Cinguri', 29.5, True]
z.pop()
print(z)
z.pop(1)
print(z)

[100, 'Cinguri', 29.5]
[100, 29.5]

remove list itu hanya menghapus 1 data yang ada di list, berikut ini, kita buatkan fungsi remove_all dengan parameter pertama adalah list dan parameter ke 2 adalah data yang akan dihapus

In [1]:
def remove_all(list, value):
    total_data = list.count(value)
    print("jumlah ", value, " adalah ", total_data)
    while total_data > 0:
        list.remove(value)
        print(list)
        total_data = total_data - 1
    return list

a = [4, 4, 5, 6, 7, 9, 4, 4]

remove_all(a, 4)

jumlah  4  adalah  4
[4, 5, 6, 7, 9, 4, 4]
[5, 6, 7, 9, 4, 4]
[5, 6, 7, 9, 4]
[5, 6, 7, 9]

[5, 6, 7, 9]

In [21]:
def remove_all(data, value):
    total_data = data.count(value)
    print("jumlah ", value, " adalah ", total_data)
    while total_data > 0:
        data.remove(value)
        print("isi list saat ini adalah ", data)
        total_data = total_data - 1
        print('total data saat ini adalah', total_data)
    return data

# a = [4, 4, 5, 6, 7, 9, 4, 4]

# remove_all(a, 4)

x = [2, 4, 3, 5, 7, 2, 2, 3]
remove_all(x, 2)

jumlah  2  adalah  3
isi list saat ini adalah  [4, 3, 5, 7, 2, 2, 3]
total data saat ini adalah 2
isi list saat ini adalah  [4, 3, 5, 7, 2, 3]
total data saat ini adalah 1
isi list saat ini adalah  [4, 3, 5, 7, 3]
total data saat ini adalah 0

[4, 3, 5, 7, 3]

Hari ini belajar set. Set adalah tipe data yang diawali dan diakhiri dengan kurung kurawal: {} dengan banyak tipe data dan tidak dapat berisi nilai yang duplicate/ganda

In [2]:
x = {1, 1, 3, 3, "a", "a", 4}
print(x)

{1, 'a', 3, 4}

Hari ini belajar tentang tuple. Tuple adalah tipe data yang dapat diurutkan, tidak dapat diubah, dan diperbolehkan men-duplicate atau men-gandakan suatu nilai dalam tipe data tersebut. Dapat diakses dengan index.

In [5]:
b = (1, 1, 2, "nilai", "value", 3, 3)
type(b)

tuple

In [6]:
b = (1, 1, 2, "nilai", "value", 3, 3)
b[3]

'nilai'

Isi dari tuple tidak dapat diubah (unchangeable), berikut contoh kode di bawah ini:

In [7]:
b = (1, 1, 2, "nilai", "value", 3, 3)
b[3] = "Cengir"

TypeError: 'tuple' object does not support item assignment

Hari ini belajar membuat kode dari perintah "Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence" = "Ulangi dan cetak semua nomor genap dari daftar nomor dengan urutan yang sama saat diterima. Jangan mencetak angka yang muncul setelah 237 secara berurutan". Berikut kode di bawah ini:

In [5]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

def even_number(value):
    output = False
    if value % 2 == 0:
        output = True
    return output

for value in numbers:
    if value == 237:
        break
    else:
        if even_number(value):
            print(value)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

Hari ini belajar tipe data "dictionary". Dictionary adalah tipe data yang bisa menampung data dalam format multi key dan value. Dictionary menggunakan kurung kurawal.

In [20]:
x = { 1 : "Afiya", 2 : "Fadlan", 3 : "Ara", 4 : "Emprit", 21 : "McPout" }
for key in x:
    print("Kunci: ", key, "; Nilai: ", x[key])
type(x)

Kunci:  1 ; Nilai:  Afiya
Kunci:  2 ; Nilai:  Fadlan
Kunci:  3 ; Nilai:  Ara
Kunci:  4 ; Nilai:  Emprit
Kunci:  21 ; Nilai:  McPout

dict

Key dan value bisa berupa tipe data apapun. Berikut contohnya:

In [11]:
b = { "a" : 100, 1 : "satu satu", 8.9 : "Testing" }
print(b)
print(b["a"])
print(b[1])
print(b[8.9])

for key in b:
    print("Kunci: ", key, "; Nilai: ", b[key])

{'a': 100, 1: 'satu satu', 8.9: 'Testing'}
100
satu satu
Testing
Kunci:  a ; Nilai:  100
Kunci:  1 ; Nilai:  satu satu
Kunci:  8.9 ; Nilai:  Testing

Untuk mengetahui suatu nilai dalam list/set/tuple, gunakan fungsi index. Berikut contohnya:

In [5]:
b = ["Angka", 2, "McPout", 8.9, "gunung"]
print(b.index("Angka"))
print(b.index("gunung"))
print(b.index(2))

0
4
1

Dictionary tidak diperkenankan key yang ganda atau duplicate. Jika kita medefinisikan key yang sama, maka value yang diambil adalah value yang terakhir.

In [22]:
x = {"a" : 8, "e" : 4, "c" : 2, "d" : 7.5, "e" : "Empriti"}
x

{'a': 8, 'e': 'Empriti', 'c': 2, 'd': 7.5}

Membuat dictionary kosongan dan menambahkan key dan value dalam dictionary tersebut. Berikut contoh dibawah:

In [25]:
res = {}
res[1] = "Belajar Python"
print(res)
res[2] = "Setip bobok"
print(res)
res[2] = "Setipi"
print(res)

{1: 'Belajar Python'}
{1: 'Belajar Python', 2: 'Setip bobok'}
{1: 'Belajar Python', 2: 'Setipi'}

Operator // artinya adalah floor division. Floor division artinya nilai terkecil terdekat dari suatu pembagian

In [5]:
print(127.5 // 5)   
print(127.9 // 5)
print(127.1 // 5)
print(127 // 5)

25.0
25.0
25.0
25