Hari ini mempelajari tenntang filter. Ada 2 cara menggunakan filter,
yaitu: menggunakan fungsi (def) dan lambda.

Dibawah ini merupakan filter dengan menggunakan fungsi (def):

In [8]:
nilai = [1, 4, 2, 5, 12, 9, 10, 3]
def is_even(x):
    if x % 2 == 0:
        return x

list((filter(is_even, nilai)))

[4, 2, 12, 10]

Dan dibawah ini merupakan filter dengan menggunakan lambda:

In [9]:
nilai = [1, 4, 2, 5, 12, 9, 10, 3]
list(filter(lambda i: i % 2 == 0, nilai))

[4, 2, 12, 10]

Mempelajari tentang cara menginstansi menjalankan suatu 
code yang ada Classnya

Pada kode dibawah yaitu jika pada def __init__ tidak ada
parameter selain "self", 
Maka cara mengeksekusi nya seperti dibawah ini
yaitu nama Class nya ditampung pada suatu varibel, lalu print nama variabel 
beserta pilih fungsi (def) mana yang akan dijalankan lalu masukkan data 
dari parameternya

In [10]:
class Saring:
    def __init__(self):
        self.data = []

    def saring(self, input, name):
        for data in input:
            if data[0] == name:
                self.data.append(data)
        return self.data

i = Saring()
print(i.saring([["acong", "math", 10],
 ["badu", "english", 9],
 ["amoy", "science", 9],
 ["acong", "english", 8],
 ["badu", "science", 7],
 ["amoy", "english", 8],
 ["acong", "science", 8],
 ["badu", "math", 7],
 ["amoy", "math", 9]], "acong"
))

[['acong', 'math', 10], ['acong', 'english', 8], ['acong', 'science', 8]]

Pada kode dibawah ini jika di dalam def __init__ 
terdapat parameter, maka cara mengeksekusi nya seperti di bawah ini

In [11]:
class Saring2:
    def __init__(self, input):
        self.data = []
        self.input = input 

    def saring(self, name):
        self.data = []
        for data in self.input:
            if data[0] == name:
                self.data.append(data)
        return self.data 

e = Saring2([["acong", "math", 10],
 ["badu", "english", 9],
 ["amoy", "science", 9],
 ["acong", "english", 8],
 ["badu", "science", 7],
 ["amoy", "english", 8],
 ["acong", "science", 8],
 ["badu", "math", 7],
 ["amoy", "math", 9]])
print(e.saring("acong"))
print(e.saring("badu"))

[['acong', 'math', 10], ['acong', 'english', 8], ['acong', 'science', 8]]
[['badu', 'english', 9], ['badu', 'science', 7], ['badu', 'math', 7]]

Hari ini mempelajari tentang mem-filter list

In [12]:
data = [["acong", "math", 10], ["badu", "english", 9], ["amoy", "science", 9], 
["acong", "english", 8], ["badu", "science", 7], ["amoy", "english", 8], 
["acong", "science", 8], ["badu", "math", 7], ["amoy", "math", 9]]

class Saring():
    def __init__(self):
        self.data = []

    def saring(self, input, index, value):
        self.data = [x for x in input if x[index] == value]
        return self.data

i = Saring()
print(i.saring(data, 1, "english"))
print(i.saring(data, 2, 8))

[['badu', 'english', 9], ['acong', 'english', 8], ['amoy', 'english', 8]]
[['acong', 'english', 8], ['amoy', 'english', 8], ['acong', 'science', 8]]

Hari ini mempelajari mem-filter dict

In [13]:
dictOfNames = {
   7 : 'sam',
   8: 'john',
   9: 'mathew',
   10: 'riti',
   11 : 'aadi',
   12 : 'sachin'
}

def even(elem):
    if elem[0] % 2 == 0:
        return True

def filterTheDict(dictObj, callback):
    newDict = dict()
    # Iterate over all the items in dictionary
    for (key, value) in dictObj.items():
        # Check if item satisfies the given condition then add to new dict
        if callback((key, value)):
            newDict[key] = value
    return newDict

newDict = filterTheDict(dictOfNames, lambda elem : elem[0] % 2 == 0)
# print('Filtered Dictionary : ')
# print(newDict)

newDict1 = filterTheDict(dictOfNames, even)
print(newDict1)

{8: 'john', 10: 'riti', 12: 'sachin'}

In [14]:
class Saring4():
    def __init__(self):
        self.dict = {}

    def saring(self, input, nilai):
        self.dict = {key:value for key, value in input.items() if nilai in value}
        return self.dict

t = Saring4()
print(t.saring(dictOfNames, "chin"))

{12: 'sachin'}

Mempelajari filter dict dengan filter() function

In [15]:
dictOfNames = {
   7 : 'sam',
   8: 'john',
   9: 'mathew',
   10: 'riti',
   11 : 'aadi',
   12 : 'sachin'
}

newDict = dict(filter(lambda i: i[0] % 2 == 0, dictOfNames.items()))
print(newDict)

{8: 'john', 10: 'riti', 12: 'sachin'}

Hari ini mempelajari cara split setiap 3 karakter/data
pada string,
Untuk angka nya bebas sesuai yang dibutuhkan

In [16]:
strand = "UAGUGI"
n = 3 # Untuk angkanya bebas sesuai yang dibutuhkan
x = [strand[i: i + n] for i in range(0, len(strand), n)]
print(x)

['UAG', 'UGI']

Hari ini belajar tentang proses menggunakan recursion (pengulangan), 
recursion yaitu metode yang memanggil fungsinya sendiri

In [17]:
def tri_recursion(value):
    if value > 0 :
        result = value + tri_recursion(value - 1)
    else:
        result = 0
    return result

print(tri_recursion(3))
print(" ")

def countdown(value):
    print(value)
    if value == 0:
        return
    else:
        countdown(value - 1)

print(countdown(9))
print(" ") 

def process_1(value, n, data):
    if n <= value:
        data.append(n)
        process_1(value, n + 2, data)

def test(nilai):
    n, data = 1, []
    process_1(nilai, n, data)
    return data

print(test(10))
print(" ") 

def logic(data, a, i, inc):
    if a <= data:
        i.append(a * 2)
        logic(data, a + inc, i, inc + 1)

def logic_1(input):
    a, i = 1, []
    logic(input, a, i, a)
    return i 

print(logic_1(10)) 
print(" ")

6

9
8
7
6
5
4
3
2
1
0
None

[1, 3, 5, 7, 9]

[2, 4, 8, 14]

Contoh data real atas penggunaan list dan dict yaitu list berisi dict, dict berisi list yang berisi dict

In [18]:
x = [
{'name': 'INV/PDG/2022/01/0051', 'currency': 'IDR', 'partner': 'TANI MAJU | PDG-T002 (IDR)', 'partner_ori': 'TANI MAJU', 'debit': '14,419,500.00', 'credit': '0.00', 'saldo_akhir': '14,419,500.00', 'total_debit': '293,538,059.00', 'total_credit': '79,699,819.00', 'total_saldo': '213,838,240.00', 'is_last': True, 
'list_line': [
    {'date': '18-01-2022', 'noref': 'INV/PDG/2022/01/0051', 'jatuh_tempo': '19-03-2022', 'currency': 'IDR', 'debit': '2,173,000.00', 'credit': '0.00', 'saldo': '2,173,000.00', 'is_sum': False}, 
    {'date': '', 'noref': 'INV/PDG/2022/01/0051', 'jatuh_tempo': None, 'currency': 'IDR', 'debit': '2,173,000.00', 'credit': '0.00', 'saldo': '2,173,000.00', 'is_sum': True}, 
    {'date': '24-02-2022', 'noref': 'INV/PDG/2022/02/0032', 'jatuh_tempo': '25-04-2022', 'currency': 'IDR', 'debit': '8,302,500.00', 'credit': '0.00', 'saldo': '10,475,500.00', 'is_sum': False}, 
    {'date': '', 'noref': 'INV/PDG/2022/02/0032', 'jatuh_tempo': None, 'currency': 'IDR', 'debit': '8,302,500.00', 'credit': '0.00', 'saldo': '8,302,500.00', 'is_sum': True}, 
    {'date': '24-11-2021', 'noref': 'INV-1202', 'jatuh_tempo': '24-11-2021', 'currency': 'IDR', 'debit': '3,944,000.00', 'credit': '0.00', 'saldo': '14,419,500.00', 'is_sum': False}, 
    {'date': '', 'noref': 'INV-1202', 'jatuh_tempo': None, 'currency': 'IDR', 'debit': '3,944,000.00', 'credit': '0.00', 'saldo': '3,944,000.00', 'is_sum': True}]
},
{'name': 'INV/PDG/2022/01/0003', 'currency': 'IDR', 'partner': 'TANI SINAR PAGI | PDG-T010 (IDR)', 'partner_ori': 'TANI SINAR PAGI', 'debit': '12,375,000.00', 'credit': '2,375,000.00', 'saldo_akhir': '10,000,000.00', 'total_debit': '207,500,559.00', 'total_credit': '34,824,819.00', 'total_saldo': '172,675,740.00', 'is_last': False, 
'list_line': [
    {'date': '10-01-2022', 'noref': 'INV/PDG/2022/01/0003', 'jatuh_tempo': '24-02-2022', 'currency': 'IDR', 'debit': '12,375,000.00', 'credit': '0.00', 'saldo': '12,375,000.00', 'is_sum': False}, 
    {'date': '25-02-2022', 'noref': 'CK501/2022/02/0079', 'jatuh_tempo': None, 'currency': 'IDR', 'debit': '0.00', 'credit': '2,375,000.00', 'saldo': '10,000,000.00', 'is_sum': False}, 
    {'date': '', 'noref': 'INV/PDG/2022/01/0003', 'jatuh_tempo': None, 'currency': 'IDR', 'debit': '12,375,000.00', 'credit': '2,375,000.00', 'saldo': '10,000,000.00', 'is_sum': True}
    ]
}] 

print(x[0]["list_line"][0]["noref"])
print(x[1]["list_line"][0]["noref"])

INV/PDG/2022/01/0051
INV/PDG/2022/01/0003

Hari ini mengulas kembali tentang cara sorting dict 
dengan menggunakan key lambda, termasuk menggunakan reverse=True (dibalik) atau 
nilai integer yang dinegasikan

In [19]:
teams = {'Barca': [12, 5, 4, 0, 1], 'Juve': [3, 5, 1, 0, 4],
			'Ajax': [8, 4, 3, 2, 1], 
			'Benfica': [8, 5, 3, 1, 2],
			'Atletico': [3, 6, 4, 2, 1],
			'City': [9, 7, 5, 4, 2],
			'Bayern': [10, 8, 5, 6, 3]}

x = sorted([[p, name, mp, w, d, l] 
                for name, (p, mp, w, d, l) in teams.items()], 
                    key=lambda i: (i[1]))
print(x)

[[8, 'Ajax', 4, 3, 2, 1], [3, 'Atletico', 6, 4, 2, 1], [12, 'Barca', 5, 4, 0, 1], [10, 'Bayern', 8, 5, 6, 3], [8, 'Benfica', 5, 3, 1, 2], [9, 'City', 7, 5, 4, 2], [3, 'Juve', 5, 1, 0, 4]]

Suatu variabel berisi string yang didalam nya terdapat angka,
variabel tersebut dapat di-integer-kan, setelah itu di-negasi-kan

In [20]:
i = '5'
print(-int(i))

-5

In [21]:
teams = {'Barca': ['12', 5, 4, 0, 1], 'Juve': ['3', 5, 1, 0, 4],
			'Ajax': ['8', 4, 3, 2, 1], 
			'Benfica': ['8', 5, 3, 1, 2],
			'Atletico': ['3', 6, 4, 2, 1],
			'City': ['9', 7, 5, 4, 2],
			'Bayern': ['10', 8, 5, 6, 3]}

y = sorted([[p, name, mp, w, d, l] for name, (p, mp, w, d, l) in teams.items()], key=lambda i: (-int(i[0])))
print(y)

[['12', 'Barca', 5, 4, 0, 1], ['10', 'Bayern', 8, 5, 6, 3], ['9', 'City', 7, 5, 4, 2], ['8', 'Ajax', 4, 3, 2, 1], ['8', 'Benfica', 5, 3, 1, 2], ['3', 'Juve', 5, 1, 0, 4], ['3', 'Atletico', 6, 4, 2, 1]]

Hari ini mempelajari tentang cara me-reverse (membalikkan)
suatu string

In [22]:
x = "12345"
i = x[::-1]
print(i)

# atau bisa juga dengan 

l = "56789"[::-1]
print(l)

54321
98765

Hari ini mempelajari suatu fungsi zip(),
yaitu suatu fungsi yang membuat semacam dictionary (tetapi tidak 
menggunakan kurung)

In [23]:
sentences = ["ice cream", "fried chicken", "pork", "burger"]
i = "9989"
for food, rate in zip(sentences, i):
    print(food, rate)
print(" ")

# Membuat dict langsung dari sebuah list dan string 
    # dengan menggunakan fungsi zip()
a = dict(zip(sentences, i))
print(a)

ice cream 9
fried chicken 9
pork 8
burger 9

{'ice cream': '9', 'fried chicken': '9', 'pork': '8', 'burger': '9'}

Hari ini mempelajari cara mengurangi/menghilangkan 
suatu data/karakter dalam string mulai dari data/karakter terakhir

In [24]:
x = "12345"[:-1] # berarti mengurangi/menghilangkan 1 data terakhir
print(x)

y = "12345" # berarti mengurangi/menghilangkan 2 data terakhir
y = y[:-2]
print(y)

z = "12345"[:-3] # berarti mengurangi/menghilangkan 3 data terakhir
print(z)

a = "12345"[:-4] # berarti mengurangi/menghilangkan 4 data terakhir
print(a)

1234
123
12
1

Mempelajari status truthy value atas list atau dict kosongan

In [25]:
# Code dibawah ini menyatakan bahwa jika tidak ada isi dalam suatu list/dict
    # atau tipe data apapun itu 
    # dan disertai keterangan "not", maka hasilnya True
x, y = [], {}
print(not x)
print(not y)

True
True

In [26]:
# Code dibawah ini menyatakan bahwa jika ada isi dalam suatu list/dict 
    # atau tipe data apapun itu 
    # dan disertai keterangan "not", maka hasilnya False

a, b = ["chicken"], {"fish": 2}
print(not a)
print(not b)

False
False

Mempelajari cara menggabungkan int yang terpisah pada list

In [27]:
x = [6, 7, 8]
y = [str(value) for value in x]
z = ''.join(y)
print(z)

678

Mempelajari bool (True or False) dengan statement "if",
jika if True maka akan mengeksekusi perintah dari code (mengetahui suatu kebenaran), namun jika if False, 
maka tidak akan mengeksekusi perintah dari code

In [33]:
x = True
if x:
    print("Hello")

y = False # Hasil code ini kosong karena if False, maka tidak akan 
if y:          # tidak akan mengeksekusi code
    print("Hi")

Hello

Pada kode dibawah ini, 
    statement "if check_all_zero: " itu sama dengan 
            "if check_all_zero == True: "

In the code below,
    statement "if check_all_zero: " equals to
            "if check_all_zero == True: "

In [34]:
digits = [0,0,0]
def check(list):
    check_all_zero = True
    for data in list:
        if data != 0:
            check_all_zero = False
            break

    if check_all_zero: # if check_all_zero == True:
        return [0]

print(check(digits))

[0]

Hari ini mempelajari tentang fungsi
combinations_with_replacement(), yaitu
    semua kombinasi data pada suatu tipe data tertentu
        dengan jumlah digit tertentu yang diinginkan

In [10]:
from itertools import combinations_with_replacement
x = [1,2,3]
y = list(combinations_with_replacement(x, 2)) # 2 merupakan jumlah digit 
print("fungsi combinations_with_replacement dengan 2 digit: ")
print(y)
print(" ")

i = ("a","b","c")
z = list(combinations_with_replacement(i, 3)) # 3 merupakan jumlah digit
print("fungsi combinations_with_replacement dengan 3 digit: ")
print(z)
print(" ")

a = {6,7,8}
c = list(combinations_with_replacement(a, 4)) # 4 merupakan jumlah digit 
print("fungsi combinations_with_replacement dengan 4 digit: ")
print(c)

fungsi combinations_with_replacement dengan 2 digit:
[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

fungsi combinations_with_replacement dengan 3 digit:
[('a', 'a', 'a'), ('a', 'a', 'b'), ('a', 'a', 'c'), ('a', 'b', 'b'), ('a', 'b', 'c'), ('a', 'c', 'c'), ('b', 'b', 'b'), ('b', 'b', 'c'), ('b', 'c', 'c'), ('c', 'c', 'c')]

fungsi combinations_with_replacement dengan 4 digit:
[(8, 8, 8, 8), (8, 8, 8, 6), (8, 8, 8, 7), (8, 8, 6, 6), (8, 8, 6, 7), (8, 8, 7, 7), (8, 6, 6, 6), (8, 6, 6, 7), (8, 6, 7, 7), (8, 7, 7, 7), (6, 6, 6, 6), (6, 6, 6, 7), (6, 6, 7, 7), (6, 7, 7, 7), (7, 7, 7, 7)]